<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>个人中心</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="css/layui.css">
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" type="text/css" href="css/编写资讯.css">
    <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="js/base.js"></script>
  <script type="text/javascript" src="js/controller/billController.js"></script>
  <script type="text/javascript" src="js/service/billService.js"></script>
   <script type="text/javascript" src="js/service/userService.js"></script>
</head>
<body ng-app="family" ng-controller="billController" ng-init="findUser()"> 
  <div class="toolbar">
    <div class="icon-warpper">
      <img class="back-icon" src="img/返回.png">
    </div>
   
    <p class="icon-txt">编写资讯</p>
    <img class="btn-add" src="img/图片.png">
    <!-- 图片 -->
    <input class="btn-add file" type="file" id="file">
  </div>
 
  <div class="edit-warpper">
  <!-- 资讯的标题 -->
    <input class="edit-title" type="text" ng-model="entity.headline" placeholder="请输入标题..." maxlength="20">
     <!-- 资讯内容 -->
    <textarea class="edit-content" ng-model="entity.cdesc" placeholder="请在这里输入资讯内容"></textarea>
    <button class="edit-btn" ng-click="uploadAdvisory()">发表资讯</button>
  </div>
</body>

<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="layui/layui.js"></script>
<script src="layui/layui.all.js"></script>
</html>